.audio-selector {
    background: #2C3532;
    border-radius: 10px;
    margin-top: .5%;
    height: 40%;
    width: 49.5%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
}

.scroll {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: center;
    overflow-y: auto;
    height: 95%;
    width: 95%;
}

.scroll > button {
    background: #CBA682;
    border-radius: 10px;
    border: none;
    width: 90%;
    height: 15%;
    margin: 1%;
}

.scroll > button:hover {
    background: #FFCB9B;
}

/* width */
::-webkit-scrollbar {
    width: 20px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
    background: #000000;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
    background: #5B5B5B;
  }