.timeline {
    background: #2C3532;
    border-radius: 10px;
    height: 215px;
    margin-top: 5px;
}

.css-8k07yw-Box {
    display: none;
    height: 25px;
}

.css-1vqrqlf-Content {
    position: unset;
}

.css-1b2hxk0-TimelineWrapper {
    height: 17px;
}

.css-rx749l-ProgramStack {
    display: none;
}

.css-oa3kic-ProgramBox {
    padding: revert !important;
    height: 17px !important;

}
