.timelinet {
    background: #2C3532;
    border-radius: 10px;
    height: 215px;
    margin-top: 5px;
    overflow: hidden;
}

canvas {
    position: absolute;
    z-index: 20;
    width: 861px;
    height: 178px;
    top: 59px;
    left: 108px;
}

.planby , .css-1cel7qj {
    padding: 0px !important;
}

.css-8k07yw-Box , .css-1e6m9yh {
    display: none !important;
}

div[class*="ProgramBox"] , .css-omuq6 {
    padding: revert !important;
}

div[class*="ProgramContent"] , .css-irkfuk {
    border-radius: 4px !important;
    padding: 0px !important;
    height: 17px !important;
}

div[class*="ChannelBox"],
.css-v6g33j,
.css-c7tn2t,
.css-127udym,
.css-j9jxki,
.css-11n3k03,
.css-1pdd8cq,
.css-nswk9b,
.css-2i5ui8,
.css-y9aqu6
{
    border-radius: 3px !important;
    height: 17px !important;
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

div[class*="ChannelBox"]:first-child , .css-v6g33j {
    background-color: #DC0385 !important;
}

div[class*="ChannelBox"]:nth-child(2) , .css-c7tn2t {
    background-color: #FFCD33 !important;
}

div[class*="ChannelBox"]:nth-child(3) , .css-127udym {
    background-color: #663399 !important;
}

div[class*="ChannelBox"]:nth-child(4) , .css-j9jxki {
    background-color: #02CED2 !important;
}

div[class*="ChannelBox"]:nth-child(5)  , .css-11n3k03 {
    background-color: #FF5C5A !important;
}

div[class*="ChannelBox"]:nth-child(6) , .css-1pdd8cq {
    background-color: #8AC741 !important;
}

div[class*="ChannelBox"]:nth-child(7) , .css-nswk9b {
    background-color: #EC2124 !important;
}

div[class*="ChannelBox"]:nth-child(8) , .css-2i5ui8 {
    background-color:blue !important;
}

div[class*="ChannelBox"]:nth-child(9) , .css-y9aqu6 {
    background-color: #FF9A33 !important;
}

div[class*="TimelineDividers"] , .css-1fbovww {
    align-items: start !important;
    margin-top: 4px !important;
}

span[class*="TimelineTime"] , .css-1bivfj5 {
    top: 0px !important;
    left: 3px !important;
}

div[class*="TimelineWrapper"] , .css-shx4ya {
    height: 17px !important;
    position: sticky !important;
}