.midi-board {
    background: #2C3532;
    border-radius: 10px;
    margin-top: 5px;
    height: 220px;
    width: 49.5%;
    float: left;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.midi-board > button {
    background: #CBA682;
    border-radius: 10px;
    border: none;
    width: 28%;
    height: 28%;
    margin: 1%;

    font-weight: 900;
    font-size: 15px;

    color: #000000;
}

.midi-board > button:hover {
    background: #FFCB9B !important;
}