.track-status {
    background: #2C3532;
    border-radius: 10px;
    height: 10%;
    margin-top: .5%;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
}

.track-status > button {
    background: #5B5B5B;
    border-radius: 10px;
    border: none;
    width: 12%;
    height: 70%;
    margin: 1%;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
}

.track-status > button > img {
    width: 30%;
    height: 50%;
}

.track-status > #play {
    background: #CBA682;
}


.track-status > button:hover {
    background: #FFCB9B;
}

.track-status > #play:hover {
    background: #FFCB9B;
}